@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
:root{
    --main-color:red;
    --black: black;
    --white:white;
    --border:.1rem solid white;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box; 
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.container .err{
    font-size: 25px;
    color: red;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--black);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.my_btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

.my_btn:hover{
    letter-spacing: .2rem;
    color: white;
}

.header{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo{
    height: 6rem;
    font-size: 25px;
}
.header a{
    text-decoration: none;
}
.header .logo h1{
    color:var(--white);
    /* color:red; */
    font-family: 'Ms Madi', cursive;
    font-size: 65px;
}

.header .navbar a{
    text-decoration: none;
    margin:0 1rem;
    font-size: 1.6rem;
    color:var(--white);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background:url(../image-programma/pro1.jpg) no-repeat; */
    background:url(../image/pexels-photo-160107.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-size:100% 100%;
}


.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:var(--white);
}

.home .content p{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:0.5 1 15rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 10px;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p{
    font-size: 1.6rem;
    color:var(--white);
    padding:0.7rem 0;
    line-height: 1.8;
}


.skills {
    background: var(--black);
  }
  
.skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:var(--white);
    margin-top: 20px;
}
  
.skills .col-left {
    position: relative;
    width: 45%;
}
  
.skills .col-left .content-title {
    margin-bottom: 20px;
    font-size: 45px;
}
.skills .col-left p{
    padding-bottom: 5px;
    font-size: 15px;
}
  
.skills .col-right {
    position: relative;
    width: 45%;
}
  
.skills .col-right .bar {
    margin-bottom: 15px;
    padding: 10px;
  }
  
.skills .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
.skills .info span {
    font-size: 18px;
    font-weight: 500;
  }
  
.skills .line {
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
  }
  
.skills .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
  }
  
.skills .html::before {
    width: 95%;
    background: #E45126;
  }
  
.skills .css::before {
    width: 85%;
    background: #0C73B8;
  }
  
.skills .javascript::before {
    width: 80%;
    background: #E3A324;
}
  
.skills .node::before {
    width: 80%;
    background: #30DD6D;
}
  
.skills .express::before {
  width: 70%;
  background: #6D7EB8;
}  

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.services .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--white);
    padding:2rem 0;
}

.services .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.services .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:white;
}

.services .box-container .box .stars i{
    font-size: 1.5rem;
    /* color:var(--main-color); */
    color: yellow;
}

.work{
    background: var(--black);
}
.work .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.work .box-container .box{
    border:var(--border);    
}

.work .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.work .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.work .box-container .box:hover .image img{
    transform: scale(1.2);
}

.work .box-container .box .content{
    padding:2rem;
}

.work .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
    text-decoration: none;
}

.work .box-container .box .content .title:hover{
    color:var(--main-color);
}

.work .box-container .box .content span{
    color:var(--white);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.work .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:var(--white);
    padding:1rem 0;
}

/*
.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}
*/
.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--main-color);
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:var(--white);
    text-transform: none;
    background:none;
}

.footer{
    background:var(--black);
    border-top: var(--border);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border: var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    border: 1px solid red;
    color: var(--main-color);
}
/* .footer .share .fab:hover{
    color:var(--main-color);
} */
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border: .1rem solid #e4e6ec;
    font-size: 2rem;
    text-decoration: none;
}

.footer .links a:hover{
    color:var(--main-color);
    border: 1px solid red;
}

/* .footer .links .fab:hover{
    color:var(--main-color);
} */

.footer .credit{
    font-size: 2rem;
    color:var(--black);
    font-weight: lighter;
    padding:1.5rem;
}














/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--main-color);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}